.detail-container {
  padding: 24px 32px;
  width: 90%;
  margin: 0 auto;
}

.card-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.card-actions-container {
  width: 90%;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.action-group {
  display: flex;
  gap: 100px;
}

@media screen and (max-width: 599px) {
  .detail-container {
    padding: 16px;
    width: 100%;
  }

  .action-group {
    width: 100%;
    gap: 8px;
  }
} 