/* Material主题 */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* 全局样式 */
html, body {
  /*eight: 100%;*/
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*overscroll-behavior: none;*/
}

/* Material Typography */
.mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
